rocm-docs-core[llms] @ git+https://github.com/ROCm/rocm-docs-core.git@feat-selector
sphinx-reredirects
sphinx-sitemap
sphinx-subfigure
sphinxcontrib.datatemplates==0.11.0
sphinxcontrib-svg2pdfconverter
sphinx_substitution_extensions
