rocm-docs-core[llms] @ git+https://github.com/ROCm/rocm-docs-core.git@feat/remote-content-extension
sphinx-reredirects
sphinx-sitemap
sphinx-subfigure
sphinxcontrib.datatemplates==0.11.0
sphinxcontrib-svg2pdfconverter
sphinx_substitution_extensions
